.header {
    display: flex;
    font-family: monospace;  
    flex-direction: column;  
    height: 400px;
    background-image: url('RA2base.png');

}

.grandwrapperforrow {
    display: flex;
    flex-direction: row;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 15px;
}



a {
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: flex-end;
    flex-direction: row;
}

.logo {
    display: flex;
    color: white;
    height: 20px;
    flex-direction: column;
    padding: 20px;

  
}

.bigtextdumb {
    display: flex;
    color: white;
    font-size:20px;
    list-style-type: none;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    height: 100px;
    width: 200px;
    border: red;
    margin-left: 80px;
    margin-top: 80px;
}

#sub {
    display: flex;
    color: red;
    font-size:15px;

}


button {
    display: flex;
    color: red;
    font-family: 'Courier New', Courier, monospace;

}





