body {
    background-color:rgb(219, 217, 214)
}

#description {
    color: green;
    font-family: 'Verdana,' 'Tahoma,' 'Trebuchet MS';
    font-style:italic;
    text-align:center;
    background: rgba(84, 255, 127, 0.3);
border: 2px solid blue;
padding: 10px;
margin: 10px
}

h1 {
    
    text-align: center;
    font-family: 'Monospace,' 'Tahoma,' 'Trebuchet MS,';
border: 2px solid green;
padding: 10px;
    margin: 10px
}

#yoda {
    color: rgb(15, 136, 51);
    font-family: 'Courier New', Courier, monospace;
}

.list {
    font-family: 'Courier New', Courier, monospace;

}

img {
   display: block;
   margin-left: auto; 
   margin-right: auto;
   width: 50%;
   height: 50%
}




















/* Fonts */
/* Arial (sans-serif)
Verdana (sans-serif)
Tahoma (sans-serif)
Trebuchet MS (sans-serif)
Times New Roman (serif)
Georgia (serif)
Garamond (serif)
Courier New (monospace)
Brush Script MT (cursive) */


